a:hover {
color: pink;
font-size: 50px;
}

h1{
	font-size: 50px;
	margin: 5px;
	font-family: 'Indie Flower', cursive;
}

h2{
	color: orange;
	font-family: 'Indie Flower', cursive;
}

h3{
	color: blue;
	font-family: 'Indie Flower', cursive;
}

h4{
	font-family: 'Indie Flower', cursive;
}


.links{
	text-decoration: none;
	padding: 10px 10px 10px 0px;
	margin-bottom: 10px;
	font-family: 'Indie Flower', cursive;
	color: maroon;	
}


p{
	font-family: 'Indie Flower', cursive;
}

li{
	font-family: 'Indie Flower', cursive;
}
* {
	padding: 20px
}

.rounded{
	border-radius: 25px;
}
